In [33]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 

excel_file_path= 'Ascites Hepatic.xlsx'

In [34]:
xls = pd.ExcelFile(excel_file_path)

sheet_names = xls.sheet_names

print(f'Number of tabs (worksheets): {len(sheet_names)}')
print(f'Tab names: {sheet_names}')

Number of tabs (worksheets): 4
Tab names: ['part1', 'part2', 'part3', 'part4']

In [35]:
sheet1 = pd.read_excel(excel_file_path, sheet_name='part1')
sheet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   Unnamed: 1  25 non-null     object
 2   Unnamed: 2  25 non-null     object
 3   Unnamed: 3  25 non-null     object
 4   Unnamed: 4  25 non-null     object
 5   Unnamed: 5  24 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB

In [36]:
sheet1.head(100)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,18-51 years,52-72 years,73+ years,All adults 18+ years,All adults 18+ years,NaN
1,Number of stays,225.9,383.2,27.8,636.9,"29,115,100"
2,"Rate of stays (per 100,000 population)",155.4,503.1,117.1,259.7,"11,870.5"
3,Utilization characteristics,NaN,NaN,NaN,NaN,NaN
4,"Cost per stay, mean $",11,14.6,14.5,13.3,11.6
5,"Length of stay, mean days",5.5,6.0,6.1,5.8,4.7
6,"Died during hospital stay, %",1.5,3.5,5.3,2.9,2.2
7,Patient characteristics,NaN,NaN,NaN,NaN,NaN
8,"Sex, %",NaN,NaN,NaN,NaN,NaN
9,Male,54.7,66.5,47.9,61.5,40.7
10,Female,45.3,33.5,52.1,38.5,59.3
11,"Race/ethnicity, %",NaN,NaN,NaN,NaN,NaN
12,White,67.1,54.5,52.7,58.9,65.0
13,Black,11.4,26.5,21.4,20.9,13.9
14,Hispanic,12.1,10.9,12.5,11.4,10.1
15,Other,4.6,4.5,10.1,4.7,5.9
16,"Expected primary payer, %",NaN,NaN,NaN,NaN,NaN
17,Medicare,17.6,41.3,90.0,35.0,46.6
18,Medicaid,52.9,32.0,2.8,38.1,17.4
19,Private insurance,12.3,17.1,5.2,14.9,28.4
20,Uninsured,13.0,5.4,0.5,7.9,4.7
21,Other,3.8,3.9,1.4,3.8,2.8
22,"Community-level income, %",NaN,NaN,NaN,NaN,NaN
23,"Low income (<$40,000)",40.9,40.1,30.4,40.0,28.8
24,"Not low income ($40,000+)",59.1,59.9,69.6,60.0,71.2
25,"Location, %",NaN,NaN,NaN,NaN,NaN
26,Large central metropolitan,31.4,40.1,47.0,37.3,29.5
27,Large fringe metropolitan,20.6,19.8,22.4,20.2,24.0
28,Medium metropolitan,20.9,19.5,15.7,19.8,20.1
29,Small metropolitan,8.6,7.6,6.3,7.9,9.3
30,Micropolitan,9.1,6.6,4.7,7.4,9.4
31,Noncore (rural),6.9,4.3,3.4,5.2,7.2

In [37]:
transposed_sheet1 = sheet1.transpose()
transposed_sheet1.head(50)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Unnamed: 0,18-51 years,Number of stays,"Rate of stays (per 100,000 population)",Utilization characteristics,"Cost per stay, mean $","Length of stay, mean days","Died during hospital stay, %",Patient characteristics,"Sex, %",Male,...,"Community-level income, %","Low income (<$40,000)","Not low income ($40,000+)","Location, %",Large central metropolitan,Large fringe metropolitan,Medium metropolitan,Small metropolitan,Micropolitan,Noncore (rural)
Unnamed: 1,52-72 years,225.9,155.4,NaN,11,5.5,1.5,NaN,NaN,54.7,...,NaN,40.9,59.1,NaN,31.4,20.6,20.9,8.6,9.1,6.9
Unnamed: 2,73+ years,383.2,503.1,NaN,14.6,6.0,3.5,NaN,NaN,66.5,...,NaN,40.1,59.9,NaN,40.1,19.8,19.5,7.6,6.6,4.3
Unnamed: 3,All adults 18+ years,27.8,117.1,NaN,14.5,6.1,5.3,NaN,NaN,47.9,...,NaN,30.4,69.6,NaN,47.0,22.4,15.7,6.3,4.7,3.4
Unnamed: 4,All adults 18+ years,636.9,259.7,NaN,13.3,5.8,2.9,NaN,NaN,61.5,...,NaN,40.0,60.0,NaN,37.3,20.2,19.8,7.9,7.4,5.2
Unnamed: 5,NaN,"29,115,100","11,870.5",NaN,11.6,4.7,2.2,NaN,NaN,40.7,...,NaN,28.8,71.2,NaN,29.5,24.0,20.1,9.3,9.4,7.2

In [38]:
transposed_sheet1 = transposed_sheet1.reset_index(drop = True)

In [39]:
transposed_sheet1.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,18-51 years,Number of stays,"Rate of stays (per 100,000 population)",Utilization characteristics,"Cost per stay, mean $","Length of stay, mean days","Died during hospital stay, %",Patient characteristics,"Sex, %",Male,...,"Community-level income, %","Low income (<$40,000)","Not low income ($40,000+)","Location, %",Large central metropolitan,Large fringe metropolitan,Medium metropolitan,Small metropolitan,Micropolitan,Noncore (rural)
1,52-72 years,225.9,155.4,NaN,11,5.5,1.5,NaN,NaN,54.7,...,NaN,40.9,59.1,NaN,31.4,20.6,20.9,8.6,9.1,6.9
2,73+ years,383.2,503.1,NaN,14.6,6.0,3.5,NaN,NaN,66.5,...,NaN,40.1,59.9,NaN,40.1,19.8,19.5,7.6,6.6,4.3
3,All adults 18+ years,27.8,117.1,NaN,14.5,6.1,5.3,NaN,NaN,47.9,...,NaN,30.4,69.6,NaN,47.0,22.4,15.7,6.3,4.7,3.4
4,All adults 18+ years,636.9,259.7,NaN,13.3,5.8,2.9,NaN,NaN,61.5,...,NaN,40.0,60.0,NaN,37.3,20.2,19.8,7.9,7.4,5.2

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
count,5,6,6,1,6,6,6,1,1,6,...,1,6,6,1,6,6,6,6,6,6
unique,4,6,6,1,6,6,6,1,1,6,...,1,6,6,1,6,6,6,6,6,6
top,All adults 18+ years,Number of stays,"Rate of stays (per 100,000 population)",Utilization characteristics,"Cost per stay, mean $","Length of stay, mean days","Died during hospital stay, %",Patient characteristics,"Sex, %",Male,...,"Community-level income, %","Low income (<$40,000)","Not low income ($40,000+)","Location, %",Large central metropolitan,Large fringe metropolitan,Medium metropolitan,Small metropolitan,Micropolitan,Noncore (rural)
freq,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [41]:
sheet2 = pd.read_excel(excel_file_path, sheet_name='part2')

In [45]:
sheet2.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,18-51 years,52-72 years,73+ years,All adults 18+ years,All adults 18+ years,NaN
1,"Diagnosis, %",NaN,NaN,NaN,NaN,NaN
2,Hepatitis C (principal diagnosis),3.7,6.3,5.0,5.3,-
3,Hepatitis B,3.4,3.2,2.4,3.3,0.2
4,HIV,7.1,6.1,1.3,6.2,0.6
5,Alcoholic liver disease (ALD),9.1,13.6,3.3,11.5,1.1
6,Liver cancer,1.0,6.2,8.3,4.5,1.1
7,Cirrhosis of the liver,9.7,23.8,29.6,19.1,0.8
8,Ascites,7.2,14.7,12.7,12.0,1.2
9,Upper GI bleeding,4.5,7.1,7.1,6.2,2.3
10,Any mental disorder,78.4,69.7,42.4,71.6,44.3
11,Any nonalcohol SUD,53.5,24.9,4.8,34.2,5.7
12,Any alcohol-related diagnosis (not ALD),26.8,26.9,6.3,26.0,5.7
13,"Procedure, %",NaN,NaN,NaN,NaN,NaN
14,Abdominal paracentesis,4.1,8.8,6.7,7.0,0.9
15,Upper GI endoscopy,4.8,7.3,7.5,6.4,3.6
16,"Comorbidity, %",NaN,NaN,NaN,NaN,NaN
17,Hypertension,30.1,58.3,71.9,48.9,49.8
18,Fluid and electrolyte disorders,26.8,37.2,40.2,33.7,24.6
19,Drug abuse,44.8,22.1,4.2,29.4,4.6
20,Chronic pulmonary disease,19.5,29.2,26.4,25.6,18.7
21,Deficiency anemias,17.3,25.7,31.7,22.9,17.5
22,Alcohol abuse,20.5,23.3,5.8,21.5,4.6
23,"Diabetes, uncomplicated",11.0,23.4,28.6,19.2,18.9
24,Coagulopathy,13.3,22.0,22.7,19.0,4.9
25,Depression,15.8,16.0,10.8,15.7,11.3
26,Renal failure,6.9,18.5,32.1,15.0,12.6
27,Psychoses,17.2,11.8,4.5,13.4,4.8
28,Other neurological disorders,9.7,9.1,10.1,9.4,7.6
29,Obesity,8.4,10.0,6.4,9.3,13.4
30,Congestive heart failure,3.7,10.5,20.2,8.5,8.9
31,Hypothyroidism,5.1,8.7,19.2,7.9,11.9
32,Weight loss,5.1,9.2,11.2,7.8,4.9
33,Diabetes with chronic complications,3.6,7.8,8.2,6.3,5.1
34,Peripheral vascular disorders,1.7,6.5,11.5,5.0,6.1

In [44]:
transposed_sheet2 = sheet2.transpose()

In [46]:
transposed_sheet2.head(50)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
Unnamed: 0,18-51 years,"Diagnosis, %",Hepatitis C (principal diagnosis),Hepatitis B,HIV,Alcoholic liver disease (ALD),Liver cancer,Cirrhosis of the liver,Ascites,Upper GI bleeding,...,Depression,Renal failure,Psychoses,Other neurological disorders,Obesity,Congestive heart failure,Hypothyroidism,Weight loss,Diabetes with chronic complications,Peripheral vascular disorders
Unnamed: 1,52-72 years,NaN,3.7,3.4,7.1,9.1,1.0,9.7,7.2,4.5,...,15.8,6.9,17.2,9.7,8.4,3.7,5.1,5.1,3.6,1.7
Unnamed: 2,73+ years,NaN,6.3,3.2,6.1,13.6,6.2,23.8,14.7,7.1,...,16.0,18.5,11.8,9.1,10.0,10.5,8.7,9.2,7.8,6.5
Unnamed: 3,All adults 18+ years,NaN,5.0,2.4,1.3,3.3,8.3,29.6,12.7,7.1,...,10.8,32.1,4.5,10.1,6.4,20.2,19.2,11.2,8.2,11.5
Unnamed: 4,All adults 18+ years,NaN,5.3,3.3,6.2,11.5,4.5,19.1,12.0,6.2,...,15.7,15.0,13.4,9.4,9.3,8.5,7.9,7.8,6.3,5.0
Unnamed: 5,NaN,NaN,-,0.2,0.6,1.1,1.1,0.8,1.2,2.3,...,11.3,12.6,4.8,7.6,13.4,8.9,11.9,4.9,5.1,6.1

In [56]:
sheet2.iloc[0:12]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,18-51 years,52-72 years,73+ years,All adults 18+ years,All adults 18+ years,NaN
1,"Diagnosis, %",NaN,NaN,NaN,NaN,NaN
2,Hepatitis C (principal diagnosis),3.7,6.3,5.0,5.3,-
3,Hepatitis B,3.4,3.2,2.4,3.3,0.2
4,HIV,7.1,6.1,1.3,6.2,0.6
5,Alcoholic liver disease (ALD),9.1,13.6,3.3,11.5,1.1
6,Liver cancer,1.0,6.2,8.3,4.5,1.1
7,Cirrhosis of the liver,9.7,23.8,29.6,19.1,0.8
8,Ascites,7.2,14.7,12.7,12.0,1.2
9,Upper GI bleeding,4.5,7.1,7.1,6.2,2.3
10,Any mental disorder,78.4,69.7,42.4,71.6,44.3
11,Any nonalcohol SUD,53.5,24.9,4.8,34.2,5.7

In [47]:
sheet3 = pd.read_excel(excel_file_path, sheet_name='part3')
sheet4 = pd.read_excel(excel_file_path, sheet_name='part4')

In [48]:
sheet3.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"Hepatitis C without hepatitis B, HIV, or ALD","Hepatitis C plus hepatitis B, HIV, or ALD",No hepatitis C,NaN
1,Number of stays,300,83.3,"10,282,100"
2,Percentage of all baby boomer stays,2.8,0.8,96.4
3,"Rate of stays (per 100,000 population)",393.8,109.3,"13,498.2"
4,Utilization characteristics,NaN,NaN,NaN
5,"Cost per stay, mean $",14.5,15,14.1
6,"Length of stay, mean days",5.9,6.4,5.1
7,"Died during hospital stay, %",3.1,5.1,2.2
8,Patient characteristics,NaN,NaN,NaN
9,"Sex, %",NaN,NaN,NaN
10,Male,64.6,73.6,50.2
11,Female,35.4,26.4,49.8
12,"Race/ethnicity, %",NaN,NaN,NaN
13,White,55.7,50.1,68.2
14,Black,26.1,27.9,14.0
15,Hispanic,10.1,13.6,7.9
16,Other,4.4,4.7,4.9
17,"Expected primary payer, %",NaN,NaN,NaN
18,Medicare,42.6,36.4,50.2
19,Medicaid,29.8,39.7,11.6
20,Private insurance,18.0,13.9,31.0
21,Uninsured,5.2,6.4,3.9
22,Other,4.1,3.5,3.1
23,"Community-level income, %",NaN,NaN,NaN
24,"Low income (<$40,000)",40.0,40.4,29.6
25,"Not low income ($40,000+)",60.0,59.6,70.4
26,"Location, %",NaN,NaN,NaN
27,Large central metropolitan,40.2,39.7,28.1
28,Large fringe metropolitan,20.5,17.4,23.8
29,Medium metropolitan,19.7,18.7,20.2
30,Small metropolitan,7.8,7.2,9.6
31,Micropolitan,6.7,6.1,10.0
32,Noncore (rural),4.4,3.8,7.9

In [49]:
sheet4.head(50)

,"iagnosis, procedure, or comorbidity",Ages 52-72 years (baby boomers),Unnamed: 2,Unnamed: 3
0,"Hepatitis C without hepatitis B, HIV, or ALD","Hepatitis C plus hepatitis B, HIV, or ALD",No hepatitis C,NaN
1,"Diagnosis, %",NaN,NaN,NaN
2,Hepatitis C (principal diagnosis),5.4,9.7,-
3,Hepatitis B,-,14.8,0.2
4,HIV,-,28.0,0.6
5,Alcoholic liver disease (ALD),-,62.4,1.6
6,Liver cancer,5.8,7.7,1.7
7,Cirrhosis of the liver,27.6,10.2,1.3
8,Ascites,11.1,27.7,1.8
9,Upper GI bleeding,5.5,13.1,2.6
10,Any mental disorder,69.8,69.5,53.4
11,Any nonalcohol SUD,24.3,27.2,4.5
12,Any alcohol-related diagnosis (not ALD),18.0,59.0,7.3
13,"Procedure, %",NaN,NaN,NaN
14,Abdominal paracentesis,6.4,17.6,1.3
15,Upper GI endoscopy,6.2,11.1,4.1
16,"Comorbidity, %",NaN,NaN,NaN
17,Hypertension,60.4,50.8,63.3
18,Fluid and electrolyte disorders,35.4,44.0,27.8
19,Drug abuse,21.4,24.5,3.6
20,Chronic pulmonary disease,29.6,27.5,23.5
21,Deficiency anemias,24.6,29.6,18.2
22,Alcohol abuse,14.8,53.7,6.1
23,"Diabetes, uncomplicated",24.4,19.6,25.8
24,Coagulopathy,18.6,34.3,5.6
25,Depression,16.3,14.9,14.1
26,Renal failure,18.7,17.6,13.7
27,Psychoses,11.9,11.5,5.7
28,Other neurological disorders,9.2,9.0,7.7
29,Obesity,10.9,6.7,18.5
30,Congestive heart failure,10.9,9.0,9.4
31,Hypothyroidism,9.4,6.3,12.7
32,Weight loss,8.3,12.5,5.7
33,Diabetes with chronic complications,8.5,5.1,7.4
34,Peripheral vascular disorders,7.1,4.4,7.4